<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HOME PAGE", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Advertisements",    '/ad_platforms' %></li>
        
        <% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

      </ul>
    </nav>
  </div>
</header>